<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Homepage</title>
    <style>
        body {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .content {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
    <div class="content container pt-5">
        <div class="row justify-content-center align-items-start">
            <div class="col-12 text-center">
                <h1 class="display-5 mb-5"><strong>"ADMIN LOGIN"</strong></h1>
                <h2 class="display-5 mb-5">Page admin/dashboard</h2>
                <a href="/admin/users">see all users</a>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
