<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Users Management</title>
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin/users-index.css">
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/users-index.js"></script>
</head>
<body onload="close_notify()">
<th:block layout:fragment="content">
    <div class="content container pt-5">
        <div class="row justify-content-center align-items-start">
            <div class="col-12 text-center">
                <h1 class="display-5 mb-5"><strong>USERS MANAGEMENT</strong></h1>

                <!-- Button to add a new user and refresh -->
                <div class="text-left mb-3">
                    <a href="/admin/users/new" class="btn btn-primary btn-action" id="add-user">Add New User</a>
                    <a href="/admin/users" class="btn btn-secondary" id="refresh">Refresh</a>
                </div>
                <div class="notification" th:if="${message}">
                    <div class="message" th:text="${message}">
                    </div>
                    <span class="close-btn">&times;</span>
                </div>

                <!-- Users Table -->
                <table class="table table-bordered">
                    <thead class="table-header">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th class="actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${userPage.content}">
                        <td th:text="${user.name}">John Doe</td>
                        <td th:text="${user.email}">john@example.com</td>
                        <td th:text="${user.phone}">+123456789</td>
                        <td th:text="${user.role}">ADMIN</td>
                        <td>
                            <div style="display: flex; gap: 10px;">
                                <a th:href="@{/admin/users/{id}/edit(id=${user.id})}"
                                   class="btn btn-warning btn-sm btn-action">Edit</a>
                                <form th:action="@{/admin/users/{id}(id=${user.id})}" method="post"
                                      onsubmit="return confirm('Are you sure?')">
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Phân trang -->
                <div class="pagination">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center pagination-sm">
                            <li th:if="${userPage.totalPages > 0}" class="page-link"
                                th:each="pageNumber : ${pageNumbers}">
                                <a th:href="@{/admin/users(size=${userPage.size}, page=${pageNumber})}"
                                   th:text=${pageNumber}
                                   th:class="${pageNumber==userPage.number + 1} ? active"
                                   class="page-link"></a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

</th:block>

</body>
</html>
